@charset "UTF-8";

.clearfix ::after {
  display: block;
  content: "";
  clear: both;
}

.q5_float {
  float: left;
}

.q5_float {
  margin-left: 60px;
}

.q5_float:first-child {
  margin-left: 0;
}

.q5_table {
  display: table;
}

.table_cell {
  display: table-cell;
  padding-left: 60px;
}


.table_cell:first-child {
  padding-left: 0;
}


.inline_block {
  display: inline-block;
}

.q5_flex {
  display: flex;
}


/* q5が終わったら
q6のcssはq6フォルダの中のcssファイルに記述してください */