@charset "UTF-8";

.table_q2 {
    width: 100%;
    table-layout: fixed;
    text-align: center;
}

.table_q2 th {
    padding: 10px;
    border: 1px solid #dedede;
}

.table_q2 td {
    padding: 10px;
    border: 1px solid #dedede;
}

.table_q2 th {
    font-size: 18px;
    line-height: 26px;
    color: #fff;
    background-color: #2244aa;
    
}

.table_q2 tbody tr:nth-child(even) {
    background-color: #ecf1f2;
}

.table_q2 tbody tr:last-child {
    border-top: 2px dashed #000
}


/* q2が終わったら
q3のcssはq3フォルダの中のcssファイルに記述してください */
